/*--------------------
General
--------------------*/
body {
	margin: 0px;
	font-family:  微軟正黑體, "Microsoft JhengHei", Arial,"Open Sans", Sans-serif;
	font-size: 13px;
}
a:hover, a:focus, a:active, a.active {
	color: #fec503;
}
a, a:hover, a:focus, a:active, a.active {
	outline: 0;
	text-decoration:none;
}
::selection {
	text-shadow: none;
	background: #fed136;
}
section {
	padding: 60px 0;
}
@media (min-width: 769px) {
	section {
		padding: 150px 0;
	}
}
ul {
	padding-left: 0;
	padding-top: 8px;
}
ul li {
    list-style: none;
    padding-bottom: 10px;
    font-size: 14px;
    font-weight: 500;
    line-height: 23px;
    letter-spacing: 0.2px;
    color: #000000;
}
.wrapper{
	margin-bottom: 38px;
}
.text-hide{
	text-indent:100%;
	white-space:nowrap;
	overflow:hidden;
}
/*--------------------
Navigation
--------------------*/
.navbar-default {
	background-color: transparent;
	border-color: transparent;
}
.navbar-default .navbar-brand {
	display: none;
	color: #fff;
	padding: 0px;
}
.navbar-default .navbar-brand:hover,.navbar-default .navbar-brand:focus,.navbar-default .navbar-brand:active,.navbar-default .navbar-brand.active {
	color: #ff9600
}
.navbar-default .navbar-collapse {
	border-color: transparent;
}
.navbar-default .navbar-toggle {
	background-color: transparent;
	border-color: transparent;
}
.navbar-default .navbar-toggle .icon-bar {
	background-color: #fff;
}
.navbar-default .navbar-toggle:hover,.navbar-default .navbar-toggle:focus {
	background-color: transparent;
}
.navbar-default .nav li a {
	line-height: 16px;
	letter-spacing: 1px;
	color:#fff;
	padding-top: 0px;
  padding-bottom: 0px;
}
.navbar-default .nav li:last-child a{
	border-right: none;
}
.navbar-default .nav li a:hover,.navbar-default .nav li a:focus {
	color: #ff9600;
	outline: 0;
}
.navbar-default .navbar-nav>.active>a {
	border-radius: 0;
	color: #fff;
	background-color: #fed136
}
.navbar-default .navbar-nav>.active>a:hover,.navbar-default .navbar-nav>.active>a:focus {
	color: #fff;
	background-color: #fec503
}
.navbar-default .navbar-nav>li{
	padding: 15px 0px;
}
.container>.navbar-header{
	margin-top: 8px;
}
.navbar-right{

}
.nav-active{
	background-color: #101010;
  opacity: 0.8;
}
@media (min-width:769px) {
	.navbar-default
	{
		background-color: #605c5c66;
		padding: 5px 0;
		-webkit-transition:padding .3s;
		-moz-transition:padding .3s;
		transition:padding .3s;
		border:0
	}
	.navbar-default .navbar-brand {
		display: block;
	}
	.navbar-default .navbar-nav>.active>a {
		border-radius: 3px
	}
	.navbar-default .nav li a{
		border-right: 1px solid #fff;
	}
	.navbar-default.navbar-shrink .navbar-brand {
		margin-top: 10px;
	}
}

/*--------------------
 Sections
--------------------*/
.bg-wrap{
	background-position: top center;
	background-repeat: no-repeat;
	background-size: 100%;
	background-position: top;
	padding-top: 100%;
	padding-bottom: 19%;
}
@media only screen and (min-width : 769px) {
	.bg-wrap{
		height: 100vh;
		background-position: center center;
		-webkit-background-size: cover;
		-moz-background-size: cover;
		background-size: cover;
		-o-background-size: cover;
		padding-top: 0px;
	}
}
@media only screen and (max-width : 350px) {
	.wrapper {
    margin-bottom: 40px;
	}
}

/*--------------------
 index section
--------------------*/
#index {
	background-image: url(../images/mobile/bg-index.jpg);
}
#index .content{
	height: inherit;
	display: flex;
  align-items: flex-end;
  justify-content: center;
}

@media only screen and (min-width : 769px) {
	#index{
		position: relative;
		background-image: url(../images/pc/bg-index.png);
	}
	#index .open-store{
		position: relative;
		bottom: 10%;
		opacity: 0.91;
		background-image: url(../images/pc/btn-open-store.png);
		display: block;
		height: 56px;
		width: 304px;
	}
}

/*--------------------
 services
--------------------*/
#services {
	background-image: url(../images/mobile/bg-servces.jpg);
}
@media only screen and (min-width : 769px) {
	#services{
		background-image: url(../images/pc/bg-servces.png);
	}
}

/*--------------------
 templates
--------------------*/
#templates .title{
	padding: 0px 40px 25px 40px
}
#templates .title img{
	display: block;
	margin: 0 auto;
}
@media only screen and (min-width : 769px) {
	#templates{
		background-image: url(../images/pc/bg-examples.png);
		background-repeat: no-repeat;
		background-position: center center;
		background-size: 140%;
		height: 100vh;
		padding-top: 0px;
	}
	#templates .content{
		display: none;
	}
}

/*--------------------
	Carousel
--------------------*/
.owl-portfolio .owl-controls {
	position: absolute;
	left: 0;
	top: 38%;
	width: 100%;
}
.owl-portfolio .owl-controls .owl-nav [class*=owl-] {
	padding: 8px 17px;
	background: rgba(0, 0, 0, 0.18);
	border-radius: 0;
	margin: 0;
	font-size: 20px;
	z-index:1000;
}
.owl-portfolio .owl-controls .owl-nav [class*=owl-]:hover {
    background: #000;
    color: #fff;
    text-decoration: none;
}
.owl-portfolio .owl-controls .owl-prev {
	float: left;
}
.owl-portfolio .owl-controls .owl-next {
	float: right;
}
.owl-portfolio-item {
	text-align: center;
  display: block;
  width: 85%;
  margin: 0 auto;
}
.partner-logo {
	height: 80px;
	text-align: center;
	display: inline-block;
}
.partner-logo img {
	height: 100%;
	width: auto !important;
}
.owl-dots .owl-dot.active span, .owl-theme .owl-dots .owl-dot:hover span {
    background: #23AD21;
}
.owl-theme .owl-dots .owl-dot span {
    width: 30px;
    height: 5px;
    margin: 15px 7px 0 7px;
    background: #d6d6d6;
    display: block;
    -webkit-backface-visibility: visible;
    -webkit-transition: opacity 200ms ease;
    -moz-transition: opacity 200ms ease;
    -ms-transition: opacity 200ms ease;
    -o-transition: opacity 200ms ease;
    transition: opacity 200ms ease;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    border-radius: 0;
}
.owl-theme .owl-dots .owl-dot.active span, .owl-theme .owl-dots .owl-dot:hover span {
    background: rgb(60, 36, 85);
}

@media only screen and (min-width : 600px) and (max-width: 760px) {
	.owl-portfolio-item{
		width: 100%;
	}
	.owl-carousel{
		width: 68%;
		margin: 0 auto;
	}
}

/*--------------------
 Footer
--------------------*/
footer {
	padding: 30px;
	background-color: rgb(60, 36, 85);
}

footer {
	color: #fff;
	margin: 0;
	font-size: 13px;
	font-weight: 500;
	letter-spacing: 1.6px;
}

footer p a {
	color: #fff;
}

footer p a span {
	color: #23AD21;
	font-size: 10px;
	letter-spacing: 1px;
	font-weight: 700;
}

footer .copyright{
	color: #8751c0;
}

/*--------------------
 mobile fixed btn
--------------------*/
.fixed-btn-area{
	font-size: 1.2em;
	overflow: hidden;
	position: fixed;
	z-index: 10;
  bottom: 0px;
	background-color: #d00f2b;
	opacity: 0.93;
	width: 100%;
	padding: 10px 0px;
}
.fixed-btn-area a>span{
	display: inline-block;
	vertical-align: sub;
	background-image: url('../images/mobile/icon_arrow.png');
	background-repeat: no-repeat;
	background-position: center;
	width: 30px;
	height: 19px;
}
.fixed-btn-area a{
	float: left;
	width: 50%;
	color: #fff;
	text-align: center;
	height: inherit;
	display: block;
}
@media only screen and (min-width : 760px) {
	.wrapper{
		margin-bottom: 0px;
	}
	.fixed-btn-area{
		display: none;
	}
}

/* Back to top button
---------------------------------- */
#back-top {
	position: fixed;
	z-index: 1000;
	bottom: 40px;
	right: 50px;
}
#back-top a {
	width: 60px;
	height: 60px;
	display: block;
	text-align: center;
	font: 11px/100% Arial, Helvetica, sans-serif;
	text-transform: uppercase;
	text-decoration: none;
	color: #FFFFFF;
	background: #A9A9B1;
	/* background color transition */
	-webkit-transition: 1s;
	-moz-transition: 1s;
	transition: 1s;
}
#back-top a:hover {
	background: #fed136;
}
/* arrow icon (span tag) */
#back-top i {
	margin-top: 15px;
	font-size: 28px;
}

@media only screen
and (min-width : 320px)
and (max-width : 480px) {
	#back-top {
		position: fixed;
		bottom: 57px;
		right: 30px;
	}
	#back-top a {
		width: 40px;
		height: 40px;
	}
	#back-top i {
		margin-top: 7px;
		font-size: 20px;
	}
}
